body{
    background-image:url(laPiedra_logopage-2.jpg);
}

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 450px) {
    .pading{
        padding-top: 15%;
    }    
    .widthPc{
        width: 300px;
    }
    .margin{
        margin-right: 7%;
    }
    .padding{
    
        transition: transform .2s; /* Animation */
        width: 60px;
    }
    .padding:hover{
        transform: scale(1.1);
    }
    .links{
        margin-top: 20%;
        text-align: center;
    }
}
@media screen and (min-width: 451px) {
    .pading{
        padding-top: 6.7%;
    }    
    .widthPc{
        width: 500px;
    }
    .margin{
        margin-right: 3%;
    }
    .padding{
    
        transition: transform .2s; /* Animation */
        width: 80px;
    }
    .padding:hover{
        transform: scale(1.2);
    }
    .links{
        margin-top: 6%;
        text-align: center;
    }
}